b{ 
  color:blue;
 }
#compare_infos{ 
 left:786px;
 top:54px;
 }
#connecteur{ 
  border-top:3px solid blue;
  display:none;
  height:2px;
  position:absolute;
  width:14px;
 }
#decode_infos{
 left:624px;
 top:70px;
}
#discrimination_infos{
 left:364px;
 top:60px;
}
#histoire_infos{ 
 left:230px;
 top:400px;
 }
#jeux_infos{ 
 left:578px;
 top:420px;
 }
#map{
  left:10px;
  position:absolute;
  top:10px;
}
#menu{ 
  left:10px;
  padding-top:10px;
  position:absolute;
  text-align:center;
  top:598px;
  width:1025px;
 }

#question_infos{
 left:404px;
 top:170px;
}
#ressources_infos{
 left:584px;
 top:270px;
}
.opener, .opener_ap{ 
  background:blue;
  color:white;
  cursor:pointer;
  font-size:11px;
  margin-right:3px;
  padding:3px;
 }

.popup{ 
 background:white;
 border:3px solid rgb(0,0,255);
 font-size:11px;
 display:none;
 padding:5px;
 position:absolute;
 width:150px;
 }