.image-annotate-add {
    background: #fff url(../images/asterisk_yellow.png) no-repeat 3px 3px;
    border: solid 1px #ccc !important;
    color: #000 !important;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;    
    min-height: 40px;
    line-height: 18px;    
    padding: 2px 0 2px 24px;
    margin: 5px 5px 0px 0;
    width: 64px;
    text-decoration: none;
}
.image-annotate-add:hover {
    background-color: #eee;
}
.image-annotate-canvas {
    border: solid 1px #ccc;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    position: relative;
}
.image-annotate-view {
    display: none;
    position: relative;
}
.image-annotate-area {
    border: 1px solid #000000;
    position: absolute;
}
.image-annotate-area div {
    border: 1px solid #FFFFFF;
    display: block;
}
.image-annotate-area-hover div {
    border-color: yellow !important;
}
.image-annotate-area-editable {
    cursor: pointer;
}
.image-annotate-area-editable-hover div {
    border-color: #00AD00 !important;
}
.image-annotate-note {
    background: #E7FFE7 none repeat scroll 0 0;
    border: solid 1px #397F39;
    color: #000;
    display: none;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;
    max-width: 200px;
    padding: 3px 7px;
    position: absolute;
}
.image-annotate-note .actions {
    display: block;
    font-size: 80%;
}
.image-annotate-edit {
    display: none;
}
#image-annotate-edit-form {
    background: #FFFEE3 none repeat scroll 0 0;
    border: 1px solid #000000;
    height: 78px;
    padding: 7px;
    position: absolute;
    width: 250px;
}
#image-annotate-edit-form form {
    clear: right;
    margin: 0 !important;
    padding: 0;
    z-index: 999;
}
#image-annotate-edit-form .box {
    margin: 0;
}
#image-annotate-edit-form input.form-text, #image-annotate-edit-form #edit-comment-wrapper textarea {
    width: 90%;
}
#image-annotate-edit-form textarea {
    height: 50px;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;    
    width: 248px;
}
#image-annotate-edit-form fieldset {
    background: transparent none repeat scroll 0 0;
}
#image-annotate-edit-form .form-item {
    margin: 0 0 5px;
}
#image-annotate-edit-form .form-button, #image-annotate-edit-form .form-submit {
    margin: 0;
}
#image-annotate-edit-form a {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    border: solid 1px #ccc;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;    
    font-family: Verdana, Sans-Serif;
    font-size: 12px;        
    height: 18px;
    line-height: 18px;
    padding: 2px 0 2px 24px;
    margin: 3px 6px 3px 0;
    width: 48px;
}
#image-annotate-edit-form a:hover {
    background-color: #eee;
}
.image-annotate-edit-area {
    border: 1px solid black;
    cursor: move;
    display: block;
    height: 60px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    width: 60px;
}
.image-annotate-edit-area .ui-resizable-handle {
    opacity: 0.8;
}
.image-annotate-edit-ok {
    background-image: url(../images/accept.png);
}
.image-annotate-edit-delete {
    background-image: url(../images/delete.png);
}
.image-annotate-edit-close {
    background-image: url(../images/cross.png);
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable- autohide .ui-resizable-handle {
    display: block;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0px;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

/*Genrimages as gi?*/
a.button_a,a.button_a:active,a.button_hover, a.button_a:link { 
  color:black;
  font-family: Verdana, Sans-Serif;
  font-size: 12px;  
  text-decoration:none;
 }

a.navig_a,a.navig_a:active,a.navig_hover, a.navig_a:link { 
  color:white;
  font-family: Verdana, Sans-Serif;
  font-size: 12px;  
  text-decoration:none;
 }
#panel_left{ 
  float:left;
/*   margin-top:20px;
 */  width:650px;
 }
#panel_right{ 
/*   background:white;
 */  border-left:1px solid black;
  border-right:1px solid black;
  border-top:1px solid black;
/*   margin-top:20px;
 */
 }
#panel_right_ann{ 
  border:1px solid black;
  margin-top:20px;
 }

#panel_right_env{ 
  float:left;
  font-size:0.85em;
  width:300px;
/*   padding-left:220px;
 */ }
#panel_right_env div{ 
  font-size:1.05em;
/*   padding-left:220px;
 */ }
#panel_right_env div div.user_menu_item { 
  font-weight:bold;
/*   padding-left:220px;
 */ }

#panel_right_env_ann{ 
  float:left;
  font-size:0.85em;
  width:500px;
 }
#save_all{ 

 }
#slide_line{ 
  position:absolute;
 }
#slide_main{ 
  margin:10px;
  text-align:center;
 }
#slide_projector{ 
  margin:20px auto 0 auto;
  position:relative;
 }
#slideSelected{ 
  background:rgba(0,0,0,0.45);
  min-height:140px;
  padding:10px;
 }

.box_float_inner{
  cursor:pointer; 
  float:left;
  margin:5px;
 }
.clear{ 
  clear:both;
 }
.gi_button{
    background:white;
    border: solid 1px #ccc !important;
    color: #000 !important;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;    
    min-height: 34px;
    line-height: 18px;    
    padding: 5px;
    margin: 5px 5px 0px 0;
    min-width: 64px;
    text-align:center;
    text-decoration: none;
 }
.gi_button:hover{ 
  background:#EEE;
 }
.layer{ 
  border-bottom:1px solid black;
  cursor:pointer;
  padding:5px;
 }
.layer_header{ 
  color:white;
  background:black;
  font-variant:small-caps;
  margin:30px 0 0px 0;
  padding:5px;
 }
.main_env{ 
  background:#DDD;
  margin:20px 20px 20px 0;
  padding:0px 10px 20px 20px;
  width:660px;
 }
.navig{ 
  margin:20px;
 }
.navig_item{ 
  margin-right:10px;
 }
.slide_area{ 
   border:1px solid black;
 }
.slide_area_invert{ 
   border:1px solid black;
 }
.slide_bg{ 
  background:rgba(0,0,0,0.9);
}
.slide_line{ 
  border-bottom:0;
  border-left:0;
  border-right:0;
  border-top:1px solid white;
 }
.slide_line_invert{ 
  border-bottom:0;
  border-left:0;
  border-right:0;
  border-top:1px solid black;
 }
.slide-note-subtitle{ 
  border:1px solid white;
  color:white;
  font-size:0.85em;
  padding:5px;
  position:absolute;
  text-align:left;
  width:200px;
 }
.slide-note-subtitle_invert{ 
  background:black;
  border:1px solid black;
  color:white;
  font-size:0.85em;
  padding:5px;
  position:absolute;
  text-align:left;
  width:200px;
 }
.slide_question{ 
  margin-top:10px;
 }
.slide_question textarea{ 
  height:150px;
  width:200px;
 }
.slide_question_submit{
  border:1px solid white; 
  font-size:10px;
  padding:3px;
 }
.slide_question_submit_div{ 
  margin-bottom:5px;
  margin-top:10px;
  text-align:right;
 }
.slide_sort_title{ 
  color:white;
  font-size:0.85em;
  margin-bottom:10px;
 }