a.link_annotation,a.link_annotation:active,a.link_annotation:hover, a.link_annotation:link { 
  color:white;
  font-family: Verdana, Sans-Serif;
  text-decoration:none;
 }
body{ 
  font-size:0.85em;
 }
h1{ 
  font-size:24px;
  font-weight:normal;
  margin-left:20px;
 }
#panel_left_viewer{ 
  position:relative;
 }
.form_env{ 
  margin:20px 0 20px 20px;
  max-width:600px;
  padding-bottom:120px;
 }
.form_row{ 
  margin-top:10px;
 }
.form_separator{ 
  border-top:1px solid black;
  font-size:1.4em;
  margin:20px 0 10px 0;
  padding:20px 0 10px 0; 
}
.item_annotation{ 
  background-repeat:no-repeat !important;
  float:left;
  margin:10px 10px 0px 0px;
  min-height:220px;
/*   text-align:center;
 */
  min-width:165px;
  padding-right:10px;
  padding-top:20px;
  position:relative;
 }
.item_annotation_commenter{
  color:white;
  font-size:12px;
} 
.item_annotation_title{
  background:rgba(0,0,0,0.9);
  bottom:0px;
  min-width:165px;
  padding:5px;
  position:absolute;
} 
.item_annotation_title_a{ 
  border-bottom:1px solid white;
  margin-bottom:5px;
  padding-bottom:5px;
  text-transform:uppercase;
 }
.main{ 
  margin:20px 0 20px 20px;
 }
.menu_env{ 
  margin:10px 0 0 20px;
 }
.msg{ 
  margin:20px 0 20px 20px;
  max-width:600px;
 }
.textarea_label{ 
  margin-bottom:5px;
 }