
@font-face{
	font-family:'Glacial';
	src: url('assets/fonts/GlacialIndifference-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family:'Glacial';
	src: url('assets/fonts/GlacialIndifference-Italic.otf');
	font-weight: normal;
	font-style: italic;
}

@font-face{
	font-family:'Vollkorn';
	src: url('assets/fonts/Vollkorn-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Glacial';
    src: url('assets/fonts/glacial-regular-webfontkit/glacialindifference-regular-webfont.eot');
    src: url('assets/fonts/glacial-regular-webfontkit/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/glacial-regular-webfontkit/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/glacial-regular-webfontkit/glacialindifference-regular-webfont.woff') format('woff'),
         url('assets/fonts/glacial-regular-webfontkit/glacialindifference-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/glacial-regular-webfontkit/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family:'Glacial';
    src: url('assets/fonts/glacial-bold-webfontkit/glacialindifference-bold-webfont.eot');
    src: url('assets/fonts/glacial-bold-webfontkit/glacialindifference-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/glacial-bold-webfontkit/glacialindifference-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/glacial-bold-webfontkit/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@page { margin: 1cm 1cm 2cm 1cm; }

@page :first {
	margin-top: 1cm;
	  /*@top-left {
			content : url(images/logo-glacial-italic.png);
  }*/
	/*@bottom-right {
	content: counter(page) " of " counter(pages);
	}*/
}

footer {
	display: inline-block;
	font-family: 'Glacial', sans-serif;
	position: fixed;
	vertical-align: bottom;
	width: 100%;
	bottom: 0;
}

header {
	display: none;
}

body {
	width: auto!important;
  margin: auto!important;
	font-size: 12pt;
  font-family: 'Glacial', sans-serif;
	/*background-color: #fff!important;*/
  color: black!important;
}

a, a.visited {
  color: #5d1ffc;
  text-decoration: none;
}

a.link_black, a.link_black:link, a.link_black:visited{
  color:#5d1ffc;
 }
a.trans, a.trans:link, a.trans:visited{
  color:#5d1ffc;
  text-decoration:none;
 }


b {
  font-weight:bold;
}

p {
	margin: 0;
	padding: 0;
}

code {
	font-size: 10pt;
	font-family: 'Glacial';
}

em {
	font-family: 'Glacial';
	font-style: italic;
}

h1, h2, h3, {
  page-break-after: avoid;
}

h2 {
	clear: both;
	margin-top: 26pt;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
	content: ' \00A0\27A4';
  padding-right: 5px;
}

sup {
	border-top: 1px solid black;
	border-left: 1px solid black;
	font-size: 9pt;
	vertical-align: baseline;
	font-weight: bold;
	padding: 0.5mm 0mm 0mm 1mm;
	margin-left: 1mm;
}

.schemas{
	/*float: left;*/
	/*width: 18%;*/
	/*position:relative;*/
	/*display: block;*/
	float: left;
}

.schemas img{

}

/* ------------------------------------------------------------------cover */
#logo {
	width: 25%;
	float: left;
}

#mots {
	margin-top: 2.5cm;
	margin-left: 2cm;
	float: left;
}

.mot {
	border : 1px solid black;
	padding: 1mm;
	font-size: 9pt;
}

#titre {
  font-size:27px;
	margin-left: 2cm;
  height:40px;
  padding:10px;
  text-transform:uppercase;
  letter-spacing: 0.02pt;
	/*margin-left: 30%;*/
	float: left;

}

.visuel_item_image {
	width: 100%;
	max-width: 20cm;
	height: auto;
	text-align: center;
	margin: auto;
}


.visuel_item_image_cadres {
	max-width: 16cm;
	width: 60%;
	height: auto;
	text-align: center;
	margin: auto;
	page-break-after: always;
}

#mots-titre {
	display: none;
}

#methode_titre, #analyse_titre, #annotations_titres, #prolongements_titre {
  page-break-before: always !important;
	width: 100% !important;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	font-weight:bold;
	margin-bottom: 24pt;
}


/* ------------------------------------------------------------------méthodoe */

#methode{
  max-width: 14cm;
	/*float: left;*/
	margin-left: 30%;
	width: 75%;
	/*position:relative;*/
}

.fiche_dossier_main_long_section_title {
  text-align: center;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------analyse */
.fiche_dossier_main_onglets_item_ {
  text-align: center;
  text-transform: uppercase;
}

#analyse{
	max-width: 14cm;
	/*float: left;*/
	margin-left: 30%;
	width: 75%;
	/*position:relative;*/

}

/* ------------------------------------------------------------------prolongements*/

/*#prolongements{
  page-break-after: always;*
  max-width: 20cm;
	margin-left: 25%;
	font-size: 10pt;
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-webkit-column-gap: 12pt;
	-moz-column-gap: 12pt;
	column-gap: 12pt;
}*/
/*
#prolongements em {
	font-size: 9.5pt;
}*/

/* ------------------------------------------------------------------annotations*/
#annotations {
	page-break-before: always !important;
	width: 18cm;
	margin-top: 12cm;
}

#annotation {
	page-break-before: always !important;
}

 #annotations_titres {
 /*page-break-before: always !important;*/
 }

.vignette_annotation img{
	page-break-after: always !important;
	height: auto;
	max-height: 9cm;
	padding: 0mm 1mm 1mm 0mm;
	max-width: 70%;
 }

.vignette_annotation {
	display: table-cell;
	margin-right: 26pt;
	break-inside: avoid;
	min-width: 25%;
	text-align: center;
	vertical-align: middle;
}

.ligne_annotation {
	display: table;
	border-bottom: 1px solid black;
	padding: 2mm 0mm;
	break-inside: avoid;
	width: 100%;
}

.texte_annotation {
	display: table-cell;
	vertical-align: top;
	font-size: 12pt;
}


/* ------------------------------------------------------------------questionnaires*/
.questionnaire {
	page-break-before: always;
	margin-left: 30%;
	font-weight: bold;
}

.texte_questionnaire {
	font-weight: bold;
}
