@font-face{
	font-family:'Glacial';
	src: url('assets/fonts/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: 'Glacial';
    src: url('assets/fonts/glacial-webfontkit/glacialindifference-regular-webfont.eot');
    src: url('assets/fonts/glacial-webfontkit/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/glacial-webfontkit/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/glacial-webfontkit/glacialindifference-regular-webfont.woff') format('woff'),
         url('assets/fonts/glacial-webfontkit/glacialindifference-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/glacial-webfontkit/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


a.link_black, a.link_black:link, a.link_black:visited{
  color:black;
 }
a.trans, a.trans:link, a.trans:visited{
  color:black;
  text-decoration:none;
 }
td a, th a {
  color:black;
 }
.bandeau{
/*   border: magenta solid 2px;
 *//*   height:230px;
 */
  margin-top:20px;
  position:relative;
  text-align:center;
   width:100%;

 }
.bandeau_infos{
  background:rgba(255, 0, 255,0.8);
  color:white;
  position:absolute;
  height:210px;
  left:30px;
  text-align:left;
  top:0px;
  width:300px;
 }
.bandeau_metas_values{
  font-weight:bolder;
  margin-bottom:10px;
 }
.bandeau_titre, .bandeau_metas{
  font-size:0.9em;
  padding:10px 10px 0 10px;
 }
.bandeau_titre{
  font-size:1.4em;
  font-weight:bolder;
 }
#bandeaux{
  margin-top:40px;
 }
.bandeau_block{
  border: magenta solid 3px;
 }
.bx-wrapper .bx-pager .bx-pager-item{
  display:none !important;
 }
.bx-wrapper .bx-controls-direction a.bx-prev{
  left:-60px;
 }
.bx-wrapper .bx-controls-direction a.bx-next{
  right:-60px;
 }
body{
/*   background:#3bbab5;
 */
  background:#5d1ffc;
  font-family:'Glacial';
  font-size:0.95em;
  margin:0;
 }
.bx-viewport{
  border:10px solid green !important;
 }
.clear{
  clear:both;
  line-height:0px;
 }
#click_medium, #click_filtrer{
  cursor:pointer;
 }
#click_objectifs{
  color:#5d1ffc;
  cursor:pointer;

 }
#click_ressources{
  cursor:pointer;

 }
#coin_dossier{
  background:#d8fbdb;
  margin-left:80px;
  margin-top:40px;
  padding:10px;
  width:300px;
 }
.coin_dossier_item{
  margin-left:10px;
 }
#content{
/*   background:#75f380;
 */
  min-height:600px;
  position:relative;
 }
#control_lay_4, #control_lay_6{
  display:none;
 }
.fiche_annot_title{
  font-weight:bold;
 }
#fiche_content{
   background:#5d1ffc;

/*   background:#75f380;
 */  left:0px;
  position:absolute;
  top:0px;
  width:960px;
 }
#fiche_content_ma_selection{
/*   background:#fac617;
 */
  background:#5d1ffc;
  left:0px;
  position:absolute;
  top:0px;
  width:960px;
 }
#fiche_dossier{
  background:#75f380;
  margin-bottom:50px;
  margin-left:80px;
  min-height:650px;
 }
.fiche_dossier_main_adapt{
  height:auto;
  width:410px;
 }
#fiche_dossier_main_ancres{
  background:white;
  font-weight:bold;
  padding:15px;
  text-align:center;
 }
.fiche_dossier_main_ancres_item_sep{
  margin:0 40px 0 40px;
 }
#fiche_dossier_main_long_content{
 }
.fiche_dossier_main_long_section{
   margin-bottom:220px;
   padding-top:10px;
 }
.fiche_dossier_main_long_section_title{
 }
.fiche_dossier_main_long_section_player{
   padding:10px;
  }
.fiche_dossier_main_long_section_title{
  border-bottom:1px solid white;
  border-top:1px solid white;
  margin:40px 0 40px 0;
  padding:0 20px 0 20px;
 }
.fiche_dossier_main_long_text{
  margin:20px;
 }
#fiche_dossier_main_onglets{
  text-align:center;
 }
.fiche_dossier_main_onglets_item, .fiche_dossier_main_onglets_item_{
  margin-right:10px;
  padding:3px;
 }
.fiche_dossier_main_onglets_item_{
  background:white;
  color:#5d1ffc;
 }
#fiche_dossier_main_title{
  font-size:24px;
  height:40px;
  padding:10px;
  text-transform:uppercase;
 }
#fiche_dossier_main_titres{
  font-size:18px;
  height:40px;
  padding:10px;
  text-align:center;
  text-transform:uppercase;
 }
.fiche_dossier_main_titres_item_{
  border:1px solid #d8fbdb;
  color:#5d1ffc;
 }
.fiche_dossier_main_titres_item, .fiche_dossier_main_titres_item_{
  font-weight:bold;
  padding:2px 5px 2px 5px;
 }
#fiche_dossier_main_vignette{
  background:white;
  padding:10px;
 }
#fiche_dossier_panel_left{
  float:left;
  height:645px;
  width:50%;
}
#fiche_dossier_panel_right{
  float:left;
  height:645px;
  width:50%;
}
#fiche_dossier_main_scrollpane{
  height:520px;
  overflow:auto;
 }
.fiche_index_item{
  cursor:pointer;
  font-size:0.85em;
  padding-left:10px;
  text-transform:uppercase;
 }
.fiche_index_item:hover{
  text-decoration:underline;
 }
#fiche_indexes{
  float:right;
  font-weight:bolder;
  padding:8px 20px 0px 0;
  text-align:right;
 }
#fiche_meta{
  padding:15px;
  position:relative;
}
#fiche_meta_ma_selection{
  padding:15px 0 15px 0;
  position:relative;
 }
#fiche_player{
  margin-left:20px;
  position:relative;
 }
#fiche_publi{
  position:relative;
 }
#fiche_titre{
  float:left;
  font-size:24px;
  text-transform:uppercase;
 }
.fiche_video_meta{
  font-weight:bolder;
  margin-left:10px;
}
.fiche_video_meta_1{
  font-weight:bolder;
  margin-left:10px;
  margin-top:20px;
                   }
.fiche_video_meta_label{
  margin-left:10px;
  margin-top:30px;
 }
#fiche_video_title{
  border-bottom:2px solid black;
  font-size:28px;
  margin:20px 10px 20px 10px;
  padding-bottom:10px;
 }
.fiche_vignette{
 background:#75f380;
  border:solid #CCC 1px;
  float:left;
  font-size:12px;
/*   height:120px;
 */
  margin-bottom:10px;
  padding:10px;
/*   margin-right:10px;
 */
/*   padding:30px 10px 10px 10px;
 */  overflow:hidden;
  text-align:center;
  width:200px;
 }

.fiche_vignette_ressource{
  background:white;
  font-size:24px;
  min-height:80px;
 }
.fiche_vignette_ressource_env{
  padding:10px;
  text-align:left;
 }
.fiche_vignette_title{
  margin-top:10px;
  text-align:left;
  text-transform:uppercase;
 }
#fiche_vignettes{
  margin:20px 0 20px 40px;
 }
#fiches{
  margin-top:40px;
 }
#fiches_recherche{
/*   background:#75f380;
 */  padding:20px;
     position:relative;
 }
form div{
  margin-bottom:10px;
 }
#form_left_panel{
  float:left;
  width:19%;
 }
#form_right_panel{
  float:left;
  width:80%;

 }
.form_second_title{
  font-weight:bold;
 }
.form_sep{
  border-top:1px solid black;
  margin:20px 0 20px 0;
  padding-top:20px;
 }
.form_titre{
  font-size:24px;
 }
#img1, #img2, #img3{
  border:2px solid black;
  cursor:pointer;
                  }
.garder_selection_bouton{
  background:red;
  color:white;
  padding:3px;
 }
#dialogues_panel div p{
  padding:3 10px 3 10px;
 }
.image-annotate-area div{
  border:3px solid #5d1ffc !important;
 }
.image-annotate-area{
  border:0 !important;
 }
#infos_supplementaires{
  margin:20px 10px 20px 10px;
 }
.infos_supplementaires_titre{
  font-weight:bolder;
  margin-top:10px;
 }
.item_sel{
  cursor:pointer;
/*   color:red;
 */ }
.item_on{
/*   color:red !important;
 */
  text-decoration:underline;
 }
label{
  display:block;
  padding-bottom:3px;
 }
.layer{
  border-bottom: 3px solid #5d1ffc !important;
 }
#logo{
  width:200px;
 }
#logo, #menu_infos,.menu_infos_item,#menu_blurb,#menu_filtres,.menu_filtres_item,.menu_filtres_item_filtrer,.menu_filtres_item_search{
  float:left;
 }
#main{
  margin:0px auto 0px auto;
  padding-top:0px;
  width:960px;

 }
#menu{
  background:white;
/*   width:100%;
 */  margin:0px auto 0px auto;
  width:960px;
 }
#menu_long{
  background:white;
  width:100%;
 }
#menu_bas{
  background:white;
  width:100%;
 }
#menu_blurb{
  font-size:0.9em;
  font-weight:bolder;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:20px;
  width:170px;
 }
.menu_filtres_item{
  width:140px;
 }
.menu_filtres_item_filtrer{
  font-weight:bolder;
  margin:0 10px 0 5px;
 }
.menu_filtres_item_select{
  float:left;
  margin-bottom:10px;
  margin-top:10px;
  width:175px;
 }
.menu_filtres_item_search{
  text-align:right;
  width:250px;
 }
#menu_garder_selection{
  clear:both;
  padding-top:20px;
  text-align:right;
 }
#menu_haut{
  padding:20px 10px 40px 10px;
 }
.menu_infos_item{
  font-weight:bold;
  min-width:120px;
 }
.next{
      display: block;
      height: 20px;
      width: 20px;
      background: url('images/fleche-next.png') no-repeat;
    }
p{
  margin:0;
  padding:0;
 }
p.block{
  margin-bottom:5px;
 }
#page{

 }
#panel_right{
  background:#75f380;
  color:#5d1ffc;
  border:3px solid #5d1ffc !important;
  font-weight:bold;
  padding-bottom:420px;
 }
.prev{
      display: block;
      height: 20px;
      width: 20px;
      background: url('images/fleche-prev.png') no-repeat;
    }
#questions_panel div p{
  padding:3 10px 3 10px;
 }
#search{
  border:1px solid #3bbab5;
  color:#3bbab5;
  font-size:0.85em;
 }
.sep_blanc{
  border-bottom:2px solid white;
  border-top:0;
  border-left:0;
  border-right:0;
  margin:20px 10px 20px 10px;
}
.slick-prev::before, .slick-next::before{
  font-size:0px !important;

 }
.slick-next{
  color:transparent !important;
  content:"";
  font-size:0px !important;
  right:-35px !important;
      display: block;
      height: 20px;
      width: 20px;
      background: url('images/fleche-next.png') no-repeat !important;
 }
.slick-prev{
  left:-35px !important;
      display: block;
      height: 20px;
      width: 20px;
      background: url('images/fleche-prev.png') no-repeat !important;
 }

.slide{
  border-right:10px solid #75f380;
 }
.slider3 .slide{
/*   border-right:10px solid transparent !important;
 */ }
.slide_env{
  border:8px solid #75f380;
  margin:15px auto 15px auto;
  width:800px;
 }
.slide_infos{
  background:rgba(117,243,128,0.8);
  display:block;
  height:165px;
  position:absolute;
  visibility:hidden;
  width:285px;
  z-index:10000;
 }
.slide_infos_title{
  font-size:20px;
  padding:10px;
  text-transform:uppercase;
 }
.slide_infos_meta{
  font-weight:bold;
  padding-bottom:5px;
}
.slide_infos_meta_label, .slide_infos_meta{
  font-size:12px;
  padding-left:10px;

 }
.small_v{
  height:auto;
  width:200px;
 }
sup{
  display:none;
 }
#surface{
/*   margin:0px 20px 20px 20px;
 */  width:100%;
 }
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}
td, th{
  font-size:0.95em;
  padding:5px;
 }
.test-trig img{
  border:2px solid #d8fbdb;
  cursor:pointer;
 }
#toAnnotate{
  height:563px;
  width:410px;
 }
#user_menu{
  background:#75f380;
  padding:10px;
  width:85%;
 }
.user_menu_sel{
  text-decoration:underline;
 }
.user_menu_sep{
  border-bottom:2px solid white;
  margin-bottom:5px;
  padding-bottom:5px;
 }
.views-table-exercice{
  margin:20px 0 20px 0;
 }
.vignette_infos_meta_label, .vignette_infos_meta{
  font-size:13px;
  padding:0 20px 0 20px;;
 }
.vignette_infos_meta{
  font-weight:bold;
  margin-bottom:20px;
 }
.vignette_preview{
  background:white;
  padding:20px;
  width:600px;
 }
.vignette_preview_biblio{
  font-size:11px;
 }
.vignette_preview_panel_left{
  background:#75f380;
  float:left;
  height:412px;
  margin-right:20px;
  width:280px;
 }
.vignette_preview_panel_right{
  float:left;
  width:50%;
 }
.vignette_preview_title{
  font-size:30px;
  padding:20px;
  text-transform:uppercase;
 }
.vignette_preview_vignette{
  height:auto;
  width:300px;
 }
.vignettes_triggers{
  padding:20px;
 }
