@font-face {
    font-family: 'glacial';
    src: url("/fonts/glacial-web-fonts/glacialindifference_regular_macroman/GlacialIndifference-Regular-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial';
    src: url("/fonts/glacial-web-fonts/glacialindifference_bold_macroman/GlacialIndifference-Bold-webfont.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
